h1,h2,h3,h4,h5,h6,a{
    font-family: 'Rubik', sans-serif;
}
body,p,span{
    font-family: 'Roboto', sans-serif;
}
img{
    max-width: 100%;
}

/* begain custom style */
.main-header .container-fluid{
    max-width: 1480px;
}
.slider-section .container-fluid{
    max-width: 1480px;
}
body .btn-primary {
    background-color: #e83b3e !important;
    border: #e83b3e;
    padding: 13px 38px;
    font-size: 16px;

    position: relative;
    z-index: 1;
}
body .btn-primary::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    background-color: #111;
    border-color: #111;
    z-index: -1;

    transition: .3s;
    border-radius: 3px;
}
body .btn-primary:hover{
    border-color: #111;
}
body .btn-primary:hover::after{
    width: 100%;
}

/* menu */
ul.our-primary-menu{}
ul.our-primary-menu li{}
ul.our-primary-menu li a{
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    color: #111;
    font-weight: 500;
}
ul.our-primary-menu li a:hover{}


/* drop down menu css */
ul.our-primary-menu li{
    position: relative;
}
ul.our-primary-menu li ul{
    position: absolute;
    width: 250px;
    left: 0;
    top: 140%;
    background-color: #fafafa;
    list-style: none;
    padding: 10px;
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 10%);

    opacity: 0;
    visibility: hidden;
    transition: all .4s ease-in-out;

}
ul.our-primary-menu li ul li{
    flex-direction: column;

}
ul.our-primary-menu li:hover ul{
    opacity: 1;
    visibility: visible;
    top: 120%;
}
ul.our-primary-menu li span{
 font-size: 10px;
}
ul.our-primary-menu li:hover > a{
    color: #e83b3e;
    transition: .3s;

}
ul.our-primary-menu li ul li:hover a{
    transform: scale(1.1);
}



.header-info{}
.header-search {
    width: 50px;
    font-size: 22px;
    text-align: center;
    margin-right: 20px;
    border-right: 1px solid #ddd;
}
.header-call{
    width: 210px;
}
.header-call-icon{
    font-size: 33px;
    color: #e83b3e;
}
.header-call-info span {
    color: #606060;
}
.header-call-info a{
    font-weight: 500;
    color: #111;
    text-decoration: none;
    font-size: 18px;
}
.header-button{}

/* slider section */
.slider-section{
    background: url("./img/main-banner2.jpg") no-repeat top center fixed;
    background-size: cover;
}
.slider-content-wrap{
    height: 90vh;
    display: flex;
    align-items: center;
    position: relative;
}
.slider-content h6 {
    color: #e73a3e;
    font-size: 20px;
    font-weight: 400;
}
.slider-content h1 {
    font-size: 60px;
    margin-top: 25px;
    margin-bottom: 20px;
}
.slider-content p{
    color: #606060;
    font-weight: 400;
    font-size: 20px;
}

.header-social{
    position: absolute;
    left: 0;
    bottom: 0;
}
.header-social ul{
    list-style: none;
    padding-left: 0;
}
.header-social ul li{}
.header-social ul li span {
    font-size: 18px;
    display: inline-block;
    margin-right: 50px;
    position: relative;
}
.header-social ul li span::after {
    content: "";
    height: 1px;
    background: #111;
    width: 35px;
    position: absolute;
    right: -45px;
    top: 51%;
}
.header-social ul li a {
    text-decoration: none;
    display: inline-block;
    padding: 0 15px;
    color: #111;
    font-size: 19px;
    transition: .3s;
}
.header-social ul li a:hover{
    color: #e83b3e;
}
/* begain part css */
.logo-section{
    border-bottom: 1px solid #ddd;
}
.logo-item{}
.logo-item ul{
    list-style: none;
    padding-left: 0;
}

/* about section */
.about-image{
    position: relative;
}
.about-img-text {
    position: absolute;
    right: 100px;
    bottom: 0;
    background: url(./img/shape.png) no-repeat center;
    background-size: contain;
    height: 200px;
    width: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-img-text h2 {
    font-size: 65px;
    font-weight: 600;
    color: #e83b3e;
}
.about-img-text p {
    font-size: 18px;
    font-weight: 600;
}

.about-text{}
.finix-text{}
.finix-text h6 {
    color: #e83b3e;
    font-weight: 400;
    font-size: 18px;
}
.finix-text h2 {
    font-size: 38px;
    font-weight: 400;
    margin-top: 18px;
    margin-bottom: 18px;
}
.finix-text p {
    color: #606060;
    font-size: 16px;
}
.finix-text strong {
    color: #606060;
    font-weight: 400;
    font-size: 20px;
}
.finix-text ul {
    list-style: none;
    padding-left: 0;
    margin-top: 15px;
}
.finix-text ul li {
    font-size: 18px;
    padding: 6px 0;
}
.finix-text ul li::before {
    content: '\f00c';
    font-family: 'Font Awesome 5 free';
    font-weight: 600;
    display: inline-block;
    margin-right: 10px;
    color: #e83b3e;
    font-size: 18px;
}

/* css part 3 */
/* why choose us */

.features-item {
    background: #fff;
    padding: 30px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    transition: .5s;
}
.features-item:hover{
    transform: translateY(-10px);
}
.features-item::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: -135px;
    margin: auto;
    height: 70%;
    width: 90%;
    background: #fdebeb;
    border-radius: 50%;
}
.features-item .ft-icon i {
    color: #e83b3e;
    font-size: 35px;
    background: #fff;
    height: 80px;
    width: 80px;
    line-height: 80px;
    margin: auto;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    transition: .5s;
}
.features-item:hover .ft-icon i{
    color: #fff;
    background: #e83b3e;
}
.mtop{
    margin-top: -30px;
}
.finix-text{
    position: relative;
}
.play-animation {
    height: 90Px;
    width: 90px;
    display: inline-block;
    background: #fff;
    font-size: 60px;
    text-align: center;
    border-radius: 50%;
    line-height: 90px;
    position: absolute;
    right: 40%;
    bottom: 53px;
}
.play-animation::before{
    content: "";
    height: 90px;
    width: 90px;
    line-height: 90px;
    border-radius: 50%;
    background: #e73a3e;
    position: absolute;
    top: 0;
    left: 0;
    animation: redoy 1.6s ease-out infinite;
}
@keyframes redoy{
    0%,30%{
        transform: scale(0);
        opacity: 1;
    }
    50%{
        transform: scale(1.5);
        opacity: .7;
    }
    100%{
        transform: scale(2);
        opacity: 0;
    }
}

/* css part 4 */
/* applay now section  */
.hekko .finix-text{}
.hekko .finix-text h6 {
    font-weight: 300;
}
.hekko .finix-text h1 {
    font-size: 38px;
    margin-bottom: 20px;
}
.hekko .finix-text p {
    font-size: 17px;
}



.applay-noe-section{}
.applay-now-text{
    margin-top: 60px;
}
.step-timeline{}
.step-timeline ul{
    list-style: none;
    position: relative;
    padding-left: 65px;
}
.step-timeline ul::before {
    content: "";
    position: absolute;
    left: 22px;
    top: 25px;
    background: #e83b3e;
    width: 1px;
    height: calc(100% - 100px) ;
}
.step-timeline ul li {
    margin-bottom: 25px;
    position: relative;
}
.step-timeline ul li::before {
    content: attr(data-counter);
    position: absolute;
    top: 0;
    left: -63px;
    height: 40px;
    width: 40px;
    background: #f9f9fb;
    border: 1px solid #e83b3e;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
}
.step-timeline ul li strong {
    font-size: 23px;
    display: block;
    margin-bottom: 10px;

}
.step-timeline ul li p {
    color: #606060;
}

.calculate-rate{
    background-color: #fdebeb;
    padding: 50px;
}
.calculate-rate.finix-text{}
.calculate-rate.finix-text h6{
    color: #606060;
}

.calculate-form .form-group {
    margin-bottom: 20px;
}
.calculate-form .form-group input {
    border: none;
    border-radius: 0;
    padding: 12px 15px;
}
.calculate-form .form-group select{
    border: none;
    border-radius: 0;
    height: 52px;
}
.calculate-form .form-group label {
    display: block;
    margin-bottom: 10px;
}
/* css part 5 */
/* call to action section */
.call-to-action-bg {
    background-color: #e73a3e;
    padding: 60px;
    padding-bottom: 35px;
    border-radius: 6px;
    color: #fff;
}
.call-to-action-bg h2 {
    font-size: 36px;
    font-weight: 400;
    border-right: 1px solid #ddd;
}

.call-to-action-phone {
    margin-top: 15px;
}
.call-to-action-phone span {
    display: inline-block;
    height: 60px;
    width: 60px;
    background: #fff;
    color: #e73a3e;
    font-size: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    margin-right: 30px;
}
.call-to-action-phone a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 45px;
    margin-top: -5px;
}
/* our company valuse */
.company-valuse-text{}
.valuse-item {
    margin-bottom: 10px;
}
.valuse-item .valuse-icon {
    font-size: 30px;
    color: #e83b3e;
    margin-right: 30px;
}
.valuse-item .value-text{}
.valuse-item .value-text h3{}
.valuse-item .value-text p{
    color: #606060;
}
.our-company-img {
    text-align: right;
    margin-top: 30px;
}

/* part 6 css */
.services-tab-item {
    border-bottom: 2px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 45px !important;
}
.services-tab-item li{
    flex: 1 1 auto;
}
.services-tab-item li a.active span i{
    color: #e73a3e;
}
.services-tab-item li a.active{
    position: relative;
}
.services-tab-item li a.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -22px;
    width: 100%;
    height: 1px;
    background-color: #e73a3e;
}

.services-tab-item li a span i {
    background: #fff;
    height: 80px;
    width: 80px;
    line-height: 80px;
    border-radius: 50%;
    font-size: 35px;
    color: #666;
}
.services-tab-item li a strong {
    color: #222;
    font-weight: 600;
    font-size: 20px;
}

.services-tab-content-text p{
    color: #606060;
}
.list{
    list-style: none;
    padding-left: 0;
}
.list li{
    padding: 7px 0;
}
.list li::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background: red;
    border-radius: 50%;
    margin-right: 10px;
}